* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  a {
    text-decoration-color: #07b13f;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
  }
  
  .nav {
    height: 12vh;
    width: 100%;
    background-color: #07b13f;
    position: relative;
  }
  .perro{
    border-radius: 50%;
    width: 10vh;
    margin: 1vh;
    position: absolute;
  }
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 5.5vh;
    color: #fff;
    padding: 3vh;
    margin-left: 10vh;
    font-weight: bolder;
    font-family: "josefa_rounded_medium";
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 3.5vh;
    padding: 2vh;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 2vh;
    text-decoration: none;
    font-weight: bolder;
    color: #efefef;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    transition: ease-in .1s;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 10vh;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #07b13f;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 10vh;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

  .items{
    width: 90vw;
    margin-top: 10vh;
    margin-left: 5vw;
    padding-bottom: 15vh;
  }
  
  .item{
    background-color: rgba(255, 255, 255, 0.5); 
    display: inline-block;
    margin: 2vh 1.25vw;
    height: 35vh;
    width: 20vw;
    border: solid black;  
    border-radius: 5%;
  }
  
  .imagenItem{
    border-radius: 5%;
    margin-top: 1vh;
    text-align:center;
    width: 18vw;
    height: 24vh;
  }
  
  .contenedorImagen{
    justify-content: center;
    display: flex;
  }
  
  .tItem{
    text-align: center;
    font-size:24px;
    font-weight: bolder;
    color: #07b13f;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  }
  
  .descripcion{
    text-align: center;
    font-size:18px;
    font-weight: bolder;
    color: #07b13f;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  }
