<app-navbar></app-navbar>
<body>
    <div class="items" #div>
        <p>ACA VAN LOS ITEMS GENERADOS</p>
    </div>
    <div class="items">
        <div class="item">
          <div class="contenedorImagen">
              <img src="../../assets/colonel travis.png" alt="imagen adopcion" class="imagenItem">
          </div>
          <a href="google.com"><p class="tItem">Item 1</p></a>
        </div>
        <div class="item">
          <div class="contenedorImagen">
              <img src="../../assets/colonel travis.png" alt="imagen adopcion" class="imagenItem">
          </div>
          <a href="google.com"><p class="tItem">Item 2</p></a>
        </div>
        <div class="item">
          <div class="contenedorImagen">
              <img src="../../assets/colonel travis.png" alt="imagen adopcion" class="imagenItem">
          </div>
          <a href="google.com"><p class="tItem">Item 3</p></a>
        </div>
        <div class="item">
            <div class="contenedorImagen">
                <img src="../../assets/colonel travis.png" alt="imagen adopcion" class="imagenItem">
            </div>
            <a href="google.com"><p class="tItem">Item 4</p></a>
          </div>
      </div>
</body>