body{
    font-family: 'Montserrat', sans-serif;
}
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.register{
    margin: auto;
    display: grid ;
    place-items: center;
    
    height: 100px;
    width: 100vw;
    font-weight: bolder;
    color: #07b13f;
}
#mail, #direccion, #foto{
    height: 7.5vh;
    width: 30vw;
    margin-bottom: 1vh;
}
#name,#password{
    height: 7.5vh;
    width: 14.2vw;
    margin: 1vh;
}
input{
    font-size: 2.5vh;
}
#title{
    font-size: xx-large;
}

#btn{
    height: 7.5vh;
    width: 30.6vw;
    font-size: 1.3vw;
    transition: ease-in-out .3s;
    margin-bottom: 5vh;
    background-color: white;
    font-weight: bolder;
    color: #07b13f;
}
#btn:hover{
    color: white;
    background-color: #07b13f;
    transition: ease-in-out .3s;
    cursor: pointer;
}
#link{
    text-decoration: none;
    color: black;
  
}